<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Requires admin permissions to bind on all interfaces -->
    <add key="ListenHost" value="http://+:9200" />
    <!-- Should be full path to ab binary, unless it is in PATH -->
    <add key="abPath" value="C:\Users\Shaun\Downloads\xampp-win32-1.8.3-4-VC11\xampp\apache\bin\ab.exe"/>
  </appSettings>
</configuration>